html {
    font-size: 37.5px;
    height: 100%;
}
body {
    font-size: 12px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}
.fucbar{
    position: fixed;
    width: 100%;
    text-align: left;
    background-color: white;
    height: 44px;
    z-index: 9999;
    top: 0px;
}

#index .back {
    width: 9.5px;
    float: left;
    top: 19px;
    left: 22px;
    position: absolute;
}
#index .more {
    width: 20px;
    position: absolute;
    right: 25px;
    top: 23px;
    clear: both;
}
.downloadbd {
    padding-top: 44px;
    height: 100%; 
    box-sizing: border-box;
}
.download-container {
    background-image: url('../imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fcfbff;
    background-position: center;
    height: 100%;
}
.app-info {
    padding-top: 101px;
    font-size: 0px;
}
.app-info .app-name {
    margin-top: 20px;
    margin-bottom: 6px;  
}
.app-info .app-name img{
    width: 37%;
}
.app-info img {
    width: 29%;
}
.app-info .app-des {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    font-size: 4vw;
    color: #333333;
    letter-spacing: 4px;
    text-align: center;
}
.downloadbtnContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 40%;
}
.downloadbtn {
    width: 42%;
    height: 44px;
    line-height: 44px;
    display: inline-block;
    margin-top: 275px;
    background: #FFFFFF;
    border: 0 solid #FFFFFF;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #CE2121;
    letter-spacing: 0.83px;
    text-align: center;
}