html,body {
  height: 100%;
}
.title {
  font-family: PingFangSC-Regular;
  font-size: 13px;
  color: #333333;
  letter-spacing: 0;
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #FAFAFA;
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  padding: 15px 20px;
  min-height: 100px;
  resize: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #CCCCCC;
}
textarea:-moz-placeholder,
input:-moz-placeholder{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #CCCCCC;
}
textarea::-moz-placeholder,
input::-moz-placeholder{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #CCCCCC;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #CCCCCC;
}
.addBtn {
  width: 80px;
  height: 80px;
  display: inline-block;
  float: left;
  margin-left: 20px;
  background-image: url('../imgs/add.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.addBtn input{
    height:100%;
    width: 100%;
    overflow: hidden;
    font-size: 300px;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor:pointer;
}
.contactUs {
    background: #FAFAFA;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
    letter-spacing: 0;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
}
.contact {
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 10px 20px;
}
p {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0;
}
.button {
  background: rgba(211,35,35,0.50);
  border-radius: 100px;
  height: 44px;
  display: inline-block;
  line-height: 44px;
  width: 100%;
  box-sizing: border-box;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}
.mask {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}
.tips {
  display: inline-block;
  width: 70%;
  z-index: 5;
  background-color: white;
  position: absolute;
  top: 30%;
  left: 15%;
}
.tips img {
  width: 48px;
  height: 48px;
  margin-top: 30px;
}
.tips .submitSuccess {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  margin-top: 5px;
  display: block;
}
.tips .message {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999999;
  letter-spacing: -0.3px;
  margin: 10px 20px 0 20px;
  display: block;
  text-align: left;
}
.tips .splitLine {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #E9E9E9;
}
.tips .btn {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #D32323;
  letter-spacing: 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.hide {
  display: none;
}