html {
    font-size: 37.5px;
}
body {
    font-size: 12px;
    /*padding-bottom: 55px;*/
}
#index .open-app {
	position: relative;
	text-align: left;
    padding: 14px 0;
}
.none {
	display: none;
}
#index video {
	width:100%;
}
#index img {
	width:100%;
}
#index .back {
    width: 9.5px;
    float: left;
    top: 19px;
    left: 22px;
    position: absolute;
}
#index .more {
    width: 20px;
    position: absolute;
    right: 25px;
    top: 23px;
}
#index .title-container {
	text-align: center;
}
#index .open-app .btn {
    position: absolute;
    right: 25px;
    top: 30px;
}
.video {
    height: 5.625rem;
    overflow-y: hidden;
    background-color: rgba(0,0,0,0.8);
}
.video video {
    height: 100%;
}
.tips-openapp {
    padding: 7px 0;
}
.tips-openapp span {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 26px;
}
.tips-openapp img{
    width: 10px !important;
    vertical-align: text-bottom;
    margin-right: 10px;
}
.video-title {
    text-align: left;
}
.video-title .title{
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #333333;
    line-height: 26px;
    margin: 10px 20px;
    display: inline-block;
}
#index .user-info {
    position: relative;
    text-align: left;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    margin: 0 20px;
    padding: 15px 0;
}
#index .user-logo {
    width: 40px;
    float: left;
    margin: 0 15px;
    border-radius: 50%;
}
#index .info-container {
    display: inline-block;
    vertical-align: middle;
    /*margin-left: 10px;*/
}
#index .info-container .user-name{
    font-size: 14px;
    display: block;
    line-height: 20px;
}
#index .info-container .sub-title{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #999999;
    letter-spacing: 0;
}
#index .btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 60px;
    height: 28px;
    background: rgba(41,128,232,1);
    border-radius: 15px;
    text-align: center;
    line-height: 28px;
    color: white;
}
.tuijian {
    margin-top: 30px;
    padding: 0 20px;
    text-align: left;
}
.tuijian .left .videotime {
    font-family: PingFangSC-Medium;
    font-size: 11px;
    color: #FFFFFF;
    position: absolute;
    bottom: 4px;
    left: 10px;
}
.tuijian .left {
    position: relative;
}
.tuijian span {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
}
.tuijian .item {
    margin-bottom: 15px;
    clear: both;
    height: 81px;
}
.tuijian .right-panel {
    margin-left: 150px;   
}
.tuijian .right-panel .tuijian-title {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    height: 47px;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}
.tuijian .tuijian-gotoapp {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(41,128,232,1);
    letter-spacing: 0;
}
.tuijian .tuijian-source {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgb(185,185,185);
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 10px;
}
#index .disclaimer {
  text-align: left;
  margin-top: 10px;
}
#index .disclaimer span{
 font-family: PingFangSC-Regular;
 font-size: 14px;
 color: #999999;
 line-height: 24px;
 text-align: left;
}
#index .bottom {
    font-size: 0px;
}
#index .bottom .app-logo {
    width: 40px;
    float: left;
    margin: 0 15px;
}
#index .bottom .app-name {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    line-height: 30px;
}
#index .bottom .btn {
    position: absolute;
    right: 20px;
    top:   15px;
    width: 60px;
    height: 28px;
    background: #D32323;
    border-radius: 15px;
    text-align: center;
    line-height: 28px;
    color: white;
    font-size: 12px;
}
#bannerone .dots {
    text-align: center;
    position: relative;
    top: -10px;
}
#bannerone .dots .dot {
    text-indent: -999em !important;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #C5C5C5;
    margin-left: 5px;
}
#bannerone .dots .active {
    display:inline-block;
    width:14px;
    height:5px;
    background: #D32323;
    border-radius: 3px;
}
#bannerone {
    border: 1px solid #E9E9E9;
    text-align: left;
    font-size: 0px;
    margin-top: 20px;
}
#bannerone .app-info {
    position: relative;
    text-align: left;
    border-radius: 2px;
    padding: 15px 20px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}