html {
    font-size: 37.5px;
}
body {
    font-size: 12px;
    box-sizing: border-box;
}
.fucbar{
    position: fixed;
    width: 100%;
    text-align: left;
    background-color: white;
    height: 105px;
    z-index: 9999;
    top: 0px;
}

#index .open-app {
	position: fixed;
    width: 100%;
	text-align: left;
    top: 44px;
    background-color: rgba(216,216,216,0.25);
    z-index: 99999;
}
#index .app-logo {
    margin: 10px 15px 10px 20px;
    float: left;
}

.none {
	display: none;
}
#index video {
	width:100%;
}
#index img {
	width:100%;
}
#index .back {
    width: 9.5px;
    float: left;
    top: 19px;
    left: 22px;
    position: absolute;
}
#index .more {
    width: 20px;
    position: absolute;
    right: 25px;
    top: 23px;
    clear: both;
}
.open-app .title-container {
    display: inline-block;
}
.open-app .title-container .title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    position: relative;
    top: 10px;
    display: block;
}
.open-app .title-container .sub-title {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #999999;
    line-height: 30px;
    position: relative;
    top: 5px;
}

#index .btn {
    position: absolute;
    right: 20px;
    top: 14px;
    width: 60px;
    height: 28px;
    background: rgba(41,128,232,1);
    border-radius: 15px;
    text-align: center;
    line-height: 28px;
    color: white;
}
#index .article {
    padding: 0 12px;
}
#index .article .title {
    font-weight: bold;
    text-align: left;
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #333333;
    line-height: 30px;
}
#index .article .user-info {
    position: relative;
    text-align: left;
    margin-top: 25px;
}
#index .article .user-logo {
    width: 40px;
    float: left;
    border-radius: 50%;
}
#index .article .info-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
#index .article .info-container .user-name{
    font-size: 14px;
    display: block;
    line-height: 20px;
}
#index .article .info-container .publish-time{
    color: #999999;
    display: block;
    line-height: 17px;
}
#index .article .btn {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 64px;
}
#index .content {
    width: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    margin-top: 20px;
    text-align: left;
}
.showMore {
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,1));
    height: 100px;
    position: relative;
    top: -60px;
}
.showMore img {
    position: relative;
    top: 60px;
}
.openAppReadMore {
    padding: 0 25px;
    margin-top: 20px;
}
.openAppReadMore .openbtn {
    background: rgba(41,128,232,1);
    border-radius: 22px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    height: 44px;
    line-height: 44px;
    letter-spacing: 1px;
}
.share-container {
    margin-top: 30px;
}
.share-container div {
    border: 2px solid #E9E9E9;
    border-radius: 19.5px;
    width: 30%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}
.share-container img {
    width: 24px !important;
    vertical-align: middle;
    margin-right: 10px;
}
.share-container .wechat {
    float: left;
}
.share-container .weibo {
    float: right;
}
.share-container span {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
}
#index .disclaimer {
  text-align: left;
  margin-top: 20px;
}
#index .disclaimer span{
 font-family: PingFangSC-Regular;
 font-size: 14px;
 color: #999999;
 line-height: 24px;
 text-align: left;
}
#index .zan img {
  width: 60px;
  margin-top: 30px;
}
.tuijian, .ad {
    padding: 0 20px;
    text-align: left;
    margin-top: 30px;
}
.tuijian span {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
}
.tuijian .item {
    margin-top: 15px;
    margin-bottom: 25px;
    clear: both;
}
.tuijian .right-panel {
    margin-left: 150px;   
}
.tuijian .right-panel .tuijian-title {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    height: 47px;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}
.tuijian .tuijian-gotoapp {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #D32323;
    letter-spacing: 0;
}
.tuijian .tuijian-source {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgb(185,185,185);
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 10px;
}
#index .disclaimer {
  text-align: left;
  margin-top: 20px;
}
#index .disclaimer span{
 font-family: PingFangSC-Regular;
 font-size: 14px;
 color: #999999;
 line-height: 24px;
 text-align: left;
}
#index #bannerone,
#index #bannertwo {
    border: 1px solid #E9E9E9;
    text-align: left;
    font-size: 0px;
}
#index .bottom .app-info {
    position: relative;
    text-align: left;
    border-radius: 2px;
    padding: 15px 20px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}
#index .bottom .app-logo {
    width: 40px;
    float: left;
    margin: 0;
}
#index .bottom .app-name {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    line-height: 30px;
}
#index .bottom .btn {
    position: absolute;
    right: 20px;
    top:   20px;
    width: 60px;
    height: 28px;
    background: #D32323;
    border-radius: 15px;
    text-align: center;
    line-height: 28px;
    color: white;
    font-size: 12px;
}
#index .bottom .info-container {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    top: 5px;
}
#index .bottom-ad .info-container{
    padding-left: 77px;
    padding-right: 77px;
    position: relative;
    top: 3px;
}
#index .bottom-ad .app-info {
    display: inline-block;
    position: relative;
    text-align: left;
    border-radius: 2px;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 100%;
	vertical-align: top;
}
#index .bottom-ad .app-logo {
    width: 67px;
    height: 46px;
    float: left;
    margin: 0;
}
#index .bottom-ad .ad-name {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}
#bannertwo {
    margin-top: 16px;
}
#index .bottom-ad .btn {
    position: absolute;
    right: 20px;
    top:   20px;
    width: 60px;
    height: 28px;
    border-radius: 15px;
    text-align: center;
    line-height: 28px;
    color: white;
    font-size: 12px;
}
.circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #C5C5C5;
    margin-left: 5px;
}
#bannerone .dots {
    text-align: center;
    position: relative;
    top: -10px;
}
#bannerone .dots .dot {
    text-indent: -999em !important;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #C5C5C5;
    margin-left: 5px;
}
#bannerone .dots .active {
    display:inline-block;
    width:14px;
    height:5px;
    background: #D32323;
    border-radius: 3px;
}

#bannertwo .dots {
    text-align: center;
    position: relative;
    top: -10px;
}
#bannertwo .dots .dot {
    text-indent: -999em !important;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #C5C5C5;
    margin-left: 5px;
}
#bannertwo .dots .active {
    display:inline-block;
    width:14px;
    height:5px;
    background: rgba(41,128,232,1);
    border-radius: 3px;
}