.s{width:12px;height:20px;}
.m{width:20px;height:33px;}
.l{width:24px;height:40px;}

.sizes,.colors,.icons{margin:0 auto;width:100%;}
.colors .color,.icons .icon,.sizes .size{display:inline-block}
.tabs .tabs-inner .tabs-title{padding:0 10px}

.sizes .size{margin-right:7px;padding-top:65px;width:92px;height:25px;border:1px solid #c3c3c3;background:url(../images/table.png) 0 -800px no-repeat;color:#cacaca;text-align:center;font-size:12px}
.sizes .size-2{background-position:0 -900px}
.sizes .size-3{background-position:0 -1000px}
.sizes .selected{width:90px;height:23px;border:2px solid #0176C1;font-weight:700}

.colors .color{margin:0 4px 5px 0;width:86px;height:90px;background:url(../images/table.png) 99px 0 no-repeat}
.colors .color:hover{background-position:0 -1200px}
.colors .color-1{background-color:#e80000}
.colors .color-2{background-color:#ff9500}
.colors .color-3{background-color:#ff6500}
.colors .color-4{background-color:#04cc00}
.colors .color-5{background-color:#009171}
.colors .color-6{background-color:#df35eb}
.colors .color-7{background-color:#00a7ff}
.colors .color-8{background-color:#00d7c6}
.colors .color-9{background-color:#7b2fdf}
.colors .color-10{background-color:#000}
.colors .selected{background-position:0 -1100px}

.icons .icon{width:35px;height:30px;border-radius:2px;background:url(../images/icons.png) no-repeat}
.icons .icon-0{background-position:0 0}
.icons .icon-1{background-position:-35px 0}
.icons .icon-2{background-position:-70px 0}
.icons .icon-3{background-position:-105px 0}
.icons .icon-4{background-position:-140px 0}
.icons .icon-5{background-position:-175px 0}
.icons .icon-6{background-position:-210px 0}
.icons .icon-7{background-position:-245px 0}
.icons .icon-8{background-position:-280px 0}
.icons .icon-9{background-position:-315px 0}
.icons .icon-10{background-position:-350px 0}
.icons .icon-11{background-position:-385px 0}
.icons .icon-12{background-position:0 -30px}
.icons .icon-13{background-position:-35px -30px}
.icons .icon-14{background-position:-70px -30px}
.icons .icon-15{background-position:-105px -30px}
.icons .icon-16{background-position:-140px -30px}
.icons .icon-17{background-position:-175px -30px}
.icons .icon-18{background-position:-210px -30px}
.icons .icon-19{background-position:-245px -30px}
.icons .icon-20{background-position:-280px -30px}
.icons .icon-21{background-position:-315px -30px}
.icons .icon-22{background-position:-350px -30px}
.icons .icon-23{background-position:-385px -30px}
.icons .icon-24{background-position:0 -60px}
.icons .icon-25{background-position:-35px -60px}
.icons .icon-26{background-position:-70px -60px}
.icons .icon-27{background-position:-105px -60px}
.icons .icon-28{background-position:-140px -60px}
.icons .icon-29{background-position:-175px -60px}
.icons .icon-30{background-position:-210px -60px}
.icons .icon-31{background-position:-245px -60px}
.icons .icon-32{background-position:-280px -60px}
.icons .icon-33{background-position:-315px -60px}
.icons .icon-34{background-position:-350px -60px}
.icons .icon-35{background-position:-385px -60px}
.icons .icon-36{background-position:0 -90px}
.icons .icon-37{background-position:-35px -90px}
.icons .icon-38{background-position:-70px -90px}
.icons .icon-39{background-position:-105px -90px}
.icons .icon-40{background-position:-140px -90px}
.icons .icon-41{background-position:-175px -90px}
.icons .icon-42{background-position:-210px -90px}
.icons .icon-43{background-position:-245px -90px}
.icons .icon-44{background-position:-280px -90px}
.icons .icon-45{background-position:-315px -90px}
.icons .icon-46{background-position:-350px -90px}
.icons .icon-47{background-position:-385px -90px}
.icons .icon-48{background-position:0 -120px}
.icons .icon-49{background-position:-35px -120px}
.icons .icon-50{background-position:-70px -120px}
.icons .icon-51{background-position:-105px -120px}
.icons .icon-52{background-position:-140px -120px}
.icons .icon-53{background-position:-175px -120px}
.icons .icon-54{background-position:-210px -120px}
.icons .icon-55{background-position:-245px -120px}
.icons .icon-56{background-position:-280px -120px}
.icons .icon-57{background-position:-315px -120px}
.icons .icon-58{background-position:-350px -120px}
.icons .icon-59{background-position:-385px -120px}
.icons .icon-60{background-position:0 -150px}
.icons .icon-61{background-position:-35px -150px}
.icons .icon-62{background-position:-70px -150px}
.icons .icon-63{background-position:-105px -150px}
.icons .icon-64{background-position:-140px -150px}
.icons .icon-65{background-position:-175px -150px}
.icons .icon-66{background-position:-210px -150px}
.icons .icon-67{background-position:-245px -150px}
.icons .icon-68{background-position:-280px -150px}
.icons .icon-69{background-position:-315px -150px}
.icons .icon-70{background-position:-350px -150px}
.icons .icon-71{background-position:-385px -150px}
.icons .icon-72{background-position:0 -180px}
.icons .icon-73{background-position:-35px -180px}
.icons .selected,.icons .icon:hover{background-color:#dedede;}

.preview div{position:relative;width:98px;height:98px;border:1px solid #e3e3e3;background:url(../images/table5.png) no-repeat}
.preview .size-1,.marker .size-1{background-position:-26px -16px;}
.preview .size-2,.marker .size-2{background-position:-26px -10px;}
.preview .size-3,.marker .size-3{background-position:-26px -6px;}

.preview a,.marker span{position:absolute;background-image:url(../images/marker2.png);left:0;top:0;}
.preview .size-1 a,.marker .size-1 span{background-position:0px 0px;width:12px;height:20px;}
.preview .size-2 a,.marker .size-2 span{background-position:-100px 0px;width:20px;height:33px;}
.preview .size-3 a,.marker .size-3 span{background-position:-200px 0px;width:24px;height:40px;}
.preview .size-1 a{top:39px;left:43px}
.preview .size-2 a{top:32px;left:39px}
.preview .size-3 a{top:29px;left:37px}

.preview .size-1 a.color-1,.marker .size-1 span.color-1{background-position:0 0px;}
.preview .size-1 a.color-2,.marker .size-1 span.color-2{background-position:0 -100px;}
.preview .size-1 a.color-3,.marker .size-1 span.color-3{background-position:0 -200px;}
.preview .size-1 a.color-4,.marker .size-1 span.color-4{background-position:0 -300px;}
.preview .size-1 a.color-5,.marker .size-1 span.color-5{background-position:0 -400px;}
.preview .size-1 a.color-6,.marker .size-1 span.color-6{background-position:0 -500px;}
.preview .size-1 a.color-7,.marker .size-1 span.color-7{background-position:0 -600px;}
.preview .size-1 a.color-8,.marker .size-1 span.color-8{background-position:0 -700px;}
.preview .size-1 a.color-9,.marker .size-1 span.color-9{background-position:0 -800px;}
.preview .size-1 a.color-10,.marker .size-1 span.color-10{background-position:0 -900px;}

.preview .size-2 a.color-1,.marker .size-2 span.color-1{background-position:-100px 0px;}
.preview .size-2 a.color-2,.marker .size-2 span.color-2{background-position:-100px -100px;}
.preview .size-2 a.color-3,.marker .size-2 span.color-3{background-position:-100px -200px;}
.preview .size-2 a.color-4,.marker .size-2 span.color-4{background-position:-100px -300px;}
.preview .size-2 a.color-5,.marker .size-2 span.color-5{background-position:-100px -400px;}
.preview .size-2 a.color-6,.marker .size-2 span.color-6{background-position:-100px -500px;}
.preview .size-2 a.color-7,.marker .size-2 span.color-7{background-position:-100px -600px;}
.preview .size-2 a.color-8,.marker .size-2 span.color-8{background-position:-100px -700px;}
.preview .size-2 a.color-9,.marker .size-2 span.color-9{background-position:-100px -800px;}
.preview .size-2 a.color-10,.marker .size-2 span.color-10{background-position:-100px -900px;}

.preview .size-3 a.color-1,.marker .size-3 span.color-1{background-position:-200px 0px;}
.preview .size-3 a.color-2,.marker .size-3 span.color-2{background-position:-200px -100px;}
.preview .size-3 a.color-3,.marker .size-3 span.color-3{background-position:-200px -200px;}
.preview .size-3 a.color-4,.marker .size-3 span.color-4{background-position:-200px -300px;}
.preview .size-3 a.color-5,.marker .size-3 span.color-5{background-position:-200px -400px;}
.preview .size-3 a.color-6,.marker .size-3 span.color-6{background-position:-200px -500px;}
.preview .size-3 a.color-7,.marker .size-3 span.color-7{background-position:-200px -600px;}
.preview .size-3 a.color-8,.marker .size-3 span.color-8{background-position:-200px -700px;}
.preview .size-3 a.color-9,.marker .size-3 span.color-9{background-position:-200px -800px;}
.preview .size-3 a.color-10,.marker .size-3 span.color-10{background-position:-200px -900px;}

.preview i,.marker i{position:absolute;background-position:0 0;background-repeat:no-repeat;}
.preview .size-2 i,.marker .size-2 i{background-image:url(../images/icon2.png);top:4px;left:4px;width:12px;height:12px;}
.preview .size-3 i,.marker .size-3 i{background-image:url(../images/icon3.png);top:6px;left:5px;width:14px;height:14px;}

.preview i.icon-0,.marker i.icon-0{background-position:0 50px;}
.preview i.icon-1,.marker i.icon-1{background-position:0 0;}
.preview i.icon-2,.marker i.icon-2{background-position:0 -50px;}
.preview i.icon-3,.marker i.icon-3{background-position:0 -100px;}
.preview i.icon-4,.marker i.icon-4{background-position:0 -150px;}
.preview i.icon-5,.marker i.icon-5{background-position:0 -200px;}
.preview i.icon-6,.marker i.icon-6{background-position:0 -250px;}
.preview i.icon-7,.marker i.icon-7{background-position:0 -300px;}
.preview i.icon-8,.marker i.icon-8{background-position:0 -350px;}
.preview i.icon-9,.marker i.icon-9{background-position:0 -400px;}
.preview i.icon-10,.marker i.icon-10{background-position:0 -450px;}
.preview i.icon-11,.marker i.icon-11{background-position:0 -500;}
.preview i.icon-12,.marker i.icon-12{background-position:0 -550px;}
.preview i.icon-13,.marker i.icon-13{background-position:0 -600px;}
.preview i.icon-14,.marker i.icon-14{background-position:0 -650px;}
.preview i.icon-15,.marker i.icon-15{background-position:0 -700px;}
.preview i.icon-16,.marker i.icon-16{background-position:0 -750px;}
.preview i.icon-17,.marker i.icon-17{background-position:0 -800px;}
.preview i.icon-18,.marker i.icon-18{background-position:0 -850px;}
.preview i.icon-19,.marker i.icon-19{background-position:0 -900px;}
.preview i.icon-20,.marker i.icon-20{background-position:0 -950px;}
.preview i.icon-21,.marker i.icon-21{background-position:0 -1000px;}
.preview i.icon-22,.marker i.icon-22{background-position:0 -1050px;}
.preview i.icon-23,.marker i.icon-23{background-position:0 -1100px;}
.preview i.icon-24,.marker i.icon-24{background-position:0 -1150px;}
.preview i.icon-25,.marker i.icon-25{background-position:0 -1200px;}
.preview i.icon-26,.marker i.icon-26{background-position:0 -1250px;}
.preview i.icon-27,.marker i.icon-27{background-position:0 -1300px;}
.preview i.icon-28,.marker i.icon-28{background-position:0 -1350px;}
.preview i.icon-29,.marker i.icon-29{background-position:0 -1400px;}
.preview i.icon-30,.marker i.icon-30{background-position:0 -1450px;}
.preview i.icon-31,.marker i.icon-31{background-position:0 -1500px;}
.preview i.icon-32,.marker i.icon-32{background-position:0 -1550px;}
.preview i.icon-33,.marker i.icon-33{background-position:0 -1600px;}
.preview i.icon-34,.marker i.icon-34{background-position:0 -1650px;}
.preview i.icon-35,.marker i.icon-35{background-position:0 -1700px;}
.preview i.icon-36,.marker i.icon-36{background-position:0 -1750px;}
.preview i.icon-37,.marker i.icon-37{background-position:0 -1800px;}
.preview i.icon-38,.marker i.icon-38{background-position:0 -1850px;}
.preview i.icon-39,.marker i.icon-39{background-position:0 -1900px;}
.preview i.icon-40,.marker i.icon-40{background-position:0 -1950px;}
.preview i.icon-41,.marker i.icon-41{background-position:0 -2000px;}
.preview i.icon-42,.marker i.icon-42{background-position:0 -2050px;}
.preview i.icon-43,.marker i.icon-43{background-position:0 -2100px;}
.preview i.icon-44,.marker i.icon-44{background-position:0 -2150px;}
.preview i.icon-45,.marker i.icon-45{background-position:0 -2200px;}
.preview i.icon-46,.marker i.icon-46{background-position:0 -2250px;}
.preview i.icon-47,.marker i.icon-47{background-position:0 -2300px;}
.preview i.icon-48,.marker i.icon-48{background-position:0 -2350px;}
.preview i.icon-49,.marker i.icon-49{background-position:0 -2400px;}
.preview i.icon-50,.marker i.icon-50{background-position:0 -2450px;}
.preview i.icon-51,.marker i.icon-51{background-position:0 -2500px;}
.preview i.icon-52,.marker i.icon-52{background-position:0 -2550px;}
.preview i.icon-53,.marker i.icon-53{background-position:0 -2600px;}
.preview i.icon-54,.marker i.icon-54{background-position:0 -2650px;}
.preview i.icon-55,.marker i.icon-55{background-position:0 -2700px;}
.preview i.icon-56,.marker i.icon-56{background-position:0 -2750px;}
.preview i.icon-57,.marker i.icon-57{background-position:0 -2800px;}
.preview i.icon-58,.marker i.icon-58{background-position:0 -2850px;}
.preview i.icon-59,.marker i.icon-59{background-position:0 -2900px;}
.preview i.icon-60,.marker i.icon-60{background-position:0 -2950px;}
.preview i.icon-61,.marker i.icon-61{background-position:0 -3000px;}
.preview i.icon-62,.marker i.icon-62{background-position:0 -3050px;}
.preview i.icon-63,.marker i.icon-63{background-position:0 -3100px;}
.preview i.icon-64,.marker i.icon-64{background-position:0 -3150px;}
.preview i.icon-65,.marker i.icon-65{background-position:0 -3200px;}
.preview i.icon-66,.marker i.icon-66{background-position:0 -3250px;}
.preview i.icon-67,.marker i.icon-67{background-position:0 -3300px;}
.preview i.icon-68,.marker i.icon-68{background-position:0 -3350px;}
.preview i.icon-69,.marker i.icon-69{background-position:0 -3400px;}
.preview i.icon-70,.marker i.icon-70{background-position:0 -3450px;}
.preview i.icon-71,.marker i.icon-71{background-position:0 -3500px;}
.preview i.icon-72,.marker i.icon-72{background-position:0 -3550px;}
.preview i.icon-73,.marker i.icon-73{background-position:0 -3600px;}