<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__LIB__/html5.js"></script>
<script type="text/javascript" src="__LIB__/respond.min.js"></script>
<script type="text/javascript" src="__LIB__/PIE_IE678.js"></script>
<![endif]-->
<link href="__CSS__/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/H-ui.login.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<link href="__LIB__/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>考拉资讯后台管理系统-登录</title>
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header" style="background:none;background: none;font-size: 24px;color: #3d3b4f;text-align: center; padding-top:60px;"></div>
<div class="header" style="background:none;background: none;font-size: 38px;font-weight: bold;color: #3d3b4f;text-align: center; padding-top:100px;">考拉资讯后台管理系统</div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
  
    <form class="form form-horizontal" action="<{:U('Login/checkLogin')}>" method="post" id="loginForm">
      <div class="row cl">
        <label class="form-label col-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-8">
         
          <input id="username" name="username" type="text" placeholder="用户名" datatype="*" class="input-text size-L" nullmsg="用户名不能为空">
        
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-8">
          <input id="" name="password" type="password" placeholder="密码" class="input-text size-L" datatype="*" nullmsg="密码不能为空">
        </div>
      </div>
      
      
      
      
      <div class="row cl" >
        <div class="formControls col-8 col-offset-3">
        <!-- 
        <input name="code" maxlength="4" type="text" style="width:70px;" placeholder="" class="input-text size-L" datatype="*4-4" nullmsg="验证码不能为空！" errormsg="请输入正确的验证码">
      	 -->
      	<input class="input-text size-L" name="code" type="text" placeholder="验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;">
      	
      	<img src='<{:U("Login/verify")}>' style="width: 150px; height: 41px; margin-left: 26px;" class="code" onclick='this.src=this.src+"?"+Math.random()' id="codeimg"/>
      	</div>

      </div>
      <div class="row">
        <div class="formControls col-8 col-offset-3">
          <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
          <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <div class="footer" >Copyright</div> -->
<script type="text/javascript" src="__JS__/H-ui.js"></script>
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>  

<script type="text/javascript">

$(function(){
	$("#loginForm").Validform({
		tiptype:2,
		ajaxPost:true,
		beforeCheck:function(curform){
			//在表单提交执行验证之前执行的函数，curform参数是当前表单对象。
			//这里明确return false的话将不会继续执行验证操作;	
		},
		beforeSubmit:function(curform){
			//在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
			//这里明确return false的话表单将不会提交;	
		},
		callback:function(data){
			//返回数据data是json对象，{"info":"demo info","status":"y"}
			//info: 输出提示信息;
			//status: 返回提交数据的状态,是否提交成功。如可以用"y"表示提交成功，"n"表示提交失败，在ajax_post.php文件返回数据里自定字符，主要用在callback函数里根据该值执行相应的回调操作;
			//你也可以在ajax_post.php文件返回更多信息在这里获取，进行相应操作；
			//ajax遇到服务端错误时也会执行回调，这时的data是{ status:**, statusText:**, readyState:**, responseText:** }；
	 
			//这里执行回调操作;
			//注意：如果不是ajax方式提交表单，传入callback，这时data参数是当前表单对象，回调函数会在表单验证全部通过后执行，然后判断是否提交表单，如果callback里明确return false，则表单不会提交，如果return true或没有return，则会提交表单。
			
			if(data.status=="y"){
				window.location.href = data.url;
			}
			else{
				$('#codeimg').click();
				$('input[name=code]').val('');
			}
		}
	});
});
</script>

</body>
</html>