<include file="Public/header" />
<style>
.select{width:160px; font-size:12px;}
.underA{color: #5a98de; text-decoration: underline;}
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 房屋管理<span class="c-gray en">&gt;</span> 房屋发布管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="pd-20">
	<form method="get" action="">
	<div class="text-c"> 
		<input type="text" class="input-text" style="width:180px" placeholder="输入标题" id="" name="title" value="<?php echo $_GET['title'] ?>">
		<select class="select select-box" name="house_resource_type" >
			<option value="0" >选择房屋类型</option>
			<volist name="house_resource_type_list" id="item">
			<option value="<{$key}>" <if condition="$_GET['house_resource_type'] eq $key">selected="selected"</if>><{$item}></option>
			</volist>
		</select>
		<select class="select select-box" name="house_rent_type">
			<option value="0" >选择出租类型</option>
			<volist name="house_rent_type_list" id="item">
			<option value="<{$key}>" <if condition="$_GET['house_rent_type'] eq $key">selected="selected"</if>><{$item}></option>
			</volist>
		</select>
		<select class="select select-box" name="house_room_type">
			<option value="0" >选择房间类型</option>
			<volist name="house_room_type_list" id="item">
			<option value="<{$key}>" <if condition="$_GET['house_room_type'] eq $key">selected="selected"</if>><{$item}></option>
			</volist>
		</select>
                <select class="select select-box" name="house_resource_city_id">
			<option value="" >所属城市</option>
			<volist name="city_list" id="item">
			<option value="<{$item.id}>" <if condition="$_GET['house_resource_city_id'] eq $item['id']">selected="selected"</if>><{$item.name}> <{$item.name_zh}></option>
			</volist>
		</select>
		<select class="select select-box" name="house_resource_districts_id">
                    <option value="">请选择区域</option>
                    <notempty name="districts">
                        <volist name="districts" id="item">
			<option value="<{$item.id}>" <if condition="$_GET['house_resource_districts_id'] eq $item['id']">selected="selected"</if>><{$item.name}> <{$item.name_zh}></option>
			</volist>
                        <option value="<{$district.id}>"><{$district.name}> <{$district.name_zh}></option>
                    </notempty>
		</select>
                <select class="select select-box" name="status">
			<option value="-1" >状态</option>
			<volist name="status_list" id="item">
			<option value="<{$key}>" <if condition="$status eq $key">selected="selected"</if>><{$item}></option>
			</volist>
		</select>
		
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	</div>
	 </form>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
	 <span class="l">
	 	 
	 </span> 
	 <span class="r">共有数据：<strong><{$total}></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg table-hover">
		<thead>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="80">会员昵称</th>
				<th width="120">标题</th>
				<th width="100">副标题</th>
				<th width="60">房源类型</th>
				<th width="60">出租类型</th>
				<th width="60">房间类型</th>
				<th width="60">有人居住</th>
				<th width="60">允许宠物</th>
				<th width="60">独立卫浴</th>
				<th width="60">租客性别</th>
				<th width="60">图片</th>
				<th width="60">状态</th>
				<th width="60">发布时间</th>
				<th width="60">审核时间</th>
				<th width="60">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="item">
			<tr class="text-c">
				<td><{$item.id}></td>
				<td><{$item.mem_id|get_member_nickname}></td>
				<td><{$item.title}></td>
				<td><{$item.sub_title}></td>
				<td><{$house_resource_type_list[$item['house_resource_type']]}></td>
				<td><{$house_rent_type_list[$item['house_rent_type']]}></td>
				<td><{$house_room_type_list[$item['house_room_type']]}></td>
				<td><{$is_parlor_resident_list[$item['is_parlor_resident']]}></td>
				<td><{$can_keep_pat_list[$item['can_keep_pat']]}></td>
				<td><{$have_separate_bathroom_list[$item['have_separate_bathroom']]}></td>
				<td><{$tenant_gender[$item['tenant_gender']]}></td>
				
				<td><a href="javascript:;" onclick="showImage('<{$item.title}>', '<{$item.images}>')">点击预览</a></td>
				<td><{$status_list[$item['status']]}></td>
				<td><{$item.add_time|sub_date_all}></td>
				<td><{$item.check_time|sub_date_all}></td>
				<td class="td-manage">
                                    <a title="上传" href="javascript:;" onclick="uploadToProduct('上传','<{$item.id}>')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe627;</i></a>
                                    <a title="编辑" href="javascript:;" onclick="admin_edit('编辑信息','<{$item.id}>','800','600')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
				    <a title="删除" href="javascript:;" onclick="admin_del(this,'<{$item.id}>')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
			</volist>
			
			
		</tbody>
	</table>
	
	 <div id="pageNav" class="pageNav"><{$page}></div>
	
</div>

<script type="text/javascript" src="__LIB__/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__JS__/H-ui.js"></script> 
<script type="text/javascript" src="__JS__/H-ui.admin.js"></script> 
<script type="text/javascript">
    $(document).ready(function(){
        var district_id_json = '<{$districts_id_json}>';
        var dataObj=eval("("+district_id_json+")");
        var districtSelect = $("select[name='house_resource_districts_id']");
        var citySelect = $("select[name='house_resource_city_id']");
        citySelect.change(function(){
            var value = $(this).val();
            districtSelect.empty();
            var isEmpty = true;
            var optionStr = '<option value="">请选择区域</option>';
            $.each(dataObj, function(index, item){
                if(value == item.city_id){
                    isEmpty = false;
                    optionStr = optionStr + '<option value="' + item.id +'">' + item.name + '</option>';
                }
            });
            if(isEmpty){
                optionStr = "<option value=''>暂无区域可选</option>";
            }
            districtSelect.append(optionStr);
        });
    });

function showImage(title, url){
	var array = url.split(",");
	var html = '';
	for(var i in array){
		html += '<image src="'+array[i]+'" style="margin-top:2px;width:100%;"><br>';
	}
	layer.open({
	  type: 1,
	  title: '【' + title + '】发布内容',
	  skin: 'layui-layer-rim', //加上边框
	  shadeClose: true,
	  area: ['500px', '600px'], //宽高
	  content: '<div style="text-align:center;">'+html+'</div>'
	});
}


function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax({
			url:'<{:U("House/ajax_del")}>',
			type:'post',
			dataType:'json',
			data:{'id':id},
			success:function(data){
				if(data.status == 'y'){
					layer.msg(data.info,{icon: 1,time:1000},function(){
						window.location.reload();
					});
				}else{
					layer.msg(data.info,{icon: 5,time:1000});
				}
			},
			error:function(error){
				
			}
		});	
	
	});
}
/*管理员-编辑*/
function admin_edit(title,id,w,h){
	var url = '<{:U("House/edit")}>?id='+id;
	layer_show(title,url,w,h);
}

function uploadToProduct(obj,id){
	layer.confirm('确认要上传吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                    url:'<{:U("House/uploadToProduct")}>',
                    type:'post',
                    dataType:'json',
                    data:{'id':id},
                    success:function(data){
                            if(data.status == 'y'){
                                    layer.msg(data.info,{icon: 1,time:1000},function(){
                                            window.location.reload();
                                    });
                            }else{
                                    layer.msg(data.info,{icon: 5,time:1000});
                            }
                    },
                    error:function(error){

                    }
            });	

    });
}

</script>
</body>
</html>