<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mem_id')}:</label>

        <div class="col-xs-12 col-sm-8">
            <input id="c-mem_id" class="col-xs-4" data-rule="required" name="row[mem_id]" type="text" value="{$row.mem_id}" style="height: 31px;padding: 6px 12px;font-size: 12px;line-height: 1.42857143;color: #555555;background-color: #fff;background-image: none;border: 1px solid #ccc;">
            <label class="control-label col-xs-3">{:__('Mem_nickname')}:</label>
            <input id="c-mem_nickname" class="col-xs-5" readonly="readonly" type="text" value="{$row.member.nick_name}" style="height: 31px;padding: 6px 12px;font-size: 12px;line-height: 1.42857143;color: #555555;background-color: #fff;background-image: none;border: 1px solid #ccc;background-color: #eeeeee;opacity: 1;">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sub_title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sub_title" class="form-control" name="row[sub_title]" type="text" value="{$row.sub_title}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('House_resource_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="selectpicker form-control" name="row[house_resource_type]">
                {volist name="resourceType" id="vo"}
                <option value="{$key}" {if condition="$key == $row['house_resource_type']"}selected="selected"{/if}>{$vo}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('House_rent_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="selectpicker form-control" name="row[house_rent_type]" id="rent_type">
                {volist name="rentType" id="vo"}
                <option value="{$key}" {if condition="$key == $row['house_rent_type']"}selected="selected"{/if}>{$vo}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Can_keep_pat')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="selectpicker form-control" name="row[can_keep_pat]">
                {volist name="canKeepPat" id="vo"}
                <option value="{$key}" {if condition="$key == $row['can_keep_pat']"}selected="selected"{/if}>{$vo}</option>
                {/volist}
            </select>
        </div>
    </div>

    <!--合租 start-->
    <div id="part1" {if condition="$row.house_rent_type == 2" }style="display:none" {/if}>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('House_room_type')}:</label>
            <div class="col-xs-12 col-sm-8">
                <select class="selectpicker form-control" name="row[house_room_type]">
                    {volist name="roomType" id="vo"}
                    <option value="{$key}" {if condition="$key == $row['house_room_type']"}selected="selected"{/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Is_parlor_resident')}:</label>
            <div class="col-xs-12 col-sm-8">
                <select class="selectpicker form-control" name="row[is_parlor_resident]" id="have_person">
                    {volist name="isParlorResident" id="vo"}
                    <option value="{$key}" {if condition="$key == $row['is_parlor_resident']"}selected="selected"{/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Have_separate_bathroom')}:</label>
            <div class="col-xs-12 col-sm-8">
                <select class="selectpicker form-control" name="row[have_separate_bathroom]" id="have_separate_bathroom">
                    {volist name="haveSeparateBathroom" id="vo"}
                    <option value="{$key}" {if condition="$key == $row['have_separate_bathroom']"}selected="selected"{/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Tenant_gender')}:</label>
            <div class="col-xs-12 col-sm-8">
                <select class="selectpicker form-control" name="row[tenant_gender]" id="gender">
                    {volist name="tenantGender" id="vo"}
                    <option value="{$key}" {if condition="$key == $row['tenant_gender']"}selected="selected"{/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
        </div>
    </div>
    <!--合租 end-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('House_type_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="selectpicker form-control" name="house_type_id">
                {volist name="houseType" id="vo"}
                <option value="{$vo.id}" {if condition="$vo.id == $row['house_type_id']"}selected="selected"{/if}>{$vo.type_name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <!--//整租开始-->
    <div id="part2" {if condition="$row.house_rent_type == 1" }style="display:none" {/if}>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Room_count')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-room_count" data-rule="required" class="form-control" name="row[room_count]" type="number" value="{$row.room_count}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Bathroom_count')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-bathroom_count" data-rule="required" class="form-control" name="row[bathroom_count]" type="number" value="{$row.bathroom_count}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Parking_space_count')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-parking_space_count" data-rule="required" class="form-control" name="row[parking_space_count]" type="number" value="{$row.parking_space_count}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Max_floor')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-max_floor" data-rule="required" class="form-control" name="row[max_floor]" type="number" value="{$row.max_floor}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Floor')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-floor" data-rule="required" class="form-control" name="row[floor]" type="number" value="{$row.floor}">
            </div>
        </div>
    </div>
    <!--//整租结束-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Min_lease_period')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-min_lease_period" data-rule="required" class="form-control" name="row[min_lease_period]" type="number" value="{$row.min_lease_period}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rent_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rent_amount" data-rule="required" class="form-control" step="0.01" name="row[rent_amount]" type="number" value="{$row.rent_amount}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('House_tag')}:</label>
        <div class="col-xs-12 col-sm-8">
            {volist name="houseTag" id="vo"}
            <input type="checkbox" name="row[house_tag][]" value="{$vo.id}" {in name="vo.id" value="$row.house_tag" }checked="checked" {/in}>&nbsp;&nbsp;{$vo.tag_name}&nbsp;&nbsp; {/volist}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('House_config')}:</label>
        <div class="col-xs-12 col-sm-8">
            {volist name="houseConfig" id="vo"}
            <input type="checkbox" name="row[house_config][]" value="{$vo.id}" {in name="vo.id" value="$row.house_config" }checked="checked" {/in}>&nbsp;&nbsp;{$vo.config_name}&nbsp;&nbsp; {/volist}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Can_reside_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-can_reside_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[can_reside_time]" type="text" value="{$row.can_reside_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coupon_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-coupon_id" data-source="coupon/index" data-field="title" data-params='{"is_valid":"1"}' class="form-control selectpage" name="row[coupon_id]" type="text" value="{$row.coupon_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required" class="form-control" name="row[mobile]" type="text" value="{$row.mobile}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contact_person')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contact_person" data-rule="required" class="form-control" name="row[contact_person]" type="text" value="{$row.contact_person}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weixin_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weixin_no" class="form-control" name="row[weixin_no]" type="text" value="{$row.weixin_no}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-5 col-sm-5">
            <input id="c-email" class="form-control" name="row[email]" type="text" value="{$row.email}">
        </div>
        <div class="col-xs-5 col-sm-5">
            <img src="{$row.email_img}" style="width: 200px;">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('House_resource_city_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="selectpicker form-control" name="row[house_resource_city_id]">
                {volist name="citys" id="vo"}
                <option value="{$vo.id}" {if condition="$vo.id == $row['house_resource_city_id']"}selected="selected"{/if}>{$vo.name} {$vo.name_zh}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('House_resource_districts_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-house_resource_districts_id" data-init="{$row.house_resource_districts_id}" data-rule="required" class="form-control" name="row[house_resource_districts_id]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('House_resource_address')}:</label>
        <div class="col-xs-11 col-sm-7">
            <input id="c-house_resource_address" data-rule="required" class="form-control" name="row[house_resource_address]" type="text" value="{$row.house_resource_address}">
            <input type="hidden" id="lng" value="{$row.house_resource_longitude}" name="row[house_resource_longitude]">
            <input type="hidden" id="lat" value="{$row.house_resource_latitude}" name="row[house_resource_latitude]">
        </div>
        <div clas="col-xs-1 col-sm-1">
            <input type="button" value="点击定位" id="locationBtn" style="padding:2px;">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Choose_location')}:</label>
        <div class="col-xs-12 col-sm-8" style="height: 200px;" id="googleMap">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-images" data-rule="required" class="form-control" size="50" name="row[images]" type="text" value="{$row.images}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-images" class="btn btn-danger plupload" data-input-id="c-images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-images" class="btn btn-primary fachoose" data-input-id="c-images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="content" data-rule="required" name="row[content]" rows="5">{$row.content}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Collection_count')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-collection_count" data-rule="required" class="form-control" name="row[collection_count]" type="number" value="{$row.collection_count}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Read_count')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-read_count" data-rule="required" class="form-control" name="row[read_count]" type="number" value="{$row.read_count}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="selectpicker form-control" name="row[status]">
                {volist name="status" id="vo"}
                <option value="{$key}" {if condition="$key == $row['status']"}selected="selected"{/if}>{$vo}</option>
                {/volist}
            </select>
        </div>
    </div>
</form>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEen-hRloGhN9lRwyHtgU2_S4LjKcrtY8&callback=initMap" async defer></script>
<script type="text/javascript">
    var district_id_json = {$districts_id_json};
    var district_id = {$row.house_resource_districts_id};

    function initMap() {
        var lat = parseFloat("{$row.house_resource_latitude}");
        var lng = parseFloat("{$row.house_resource_longitude}");
        var myLatlng = {
            lat: lat,
            lng: lng
        };
        var marker;
        var markersArray = [];
        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 14,
            center: myLatlng
        });
        addMarker(myLatlng, map);
        $("#locationBtn").click(function() {
            $.ajax({
                type: "post",
                url: "https://maps.googleapis.com/maps/api/geocode/json?address=" + $("#c-house_resource_address").val() + "&region=au&key=AIzaSyBEen-hRloGhN9lRwyHtgU2_S4LjKcrtY8",
                async: true,
                success: function(data) {
                    if (data.status == "OK") {
                        if (data.results.length > 0) {
                            var lat = data.results[0].geometry.location.lat;
                            var lng = data.results[0].geometry.location.lng;
                            $('#lng').val(lng);
                            $('#lat').val(lat);
                            addMarker({
                                lat,
                                lng
                            }, map);
                            map.setCenter({
                                lat,
                                lng
                            }, 14);
                        } else {
                            alert("经纬度获取失败，请重新填写地址");
                        }
                    } else {
                        alert("经纬度获取失败，请重新填写地址");
                    }
                }
            });
        });
        //添加坐标对象
        function addMarker(latLng, map) {
            if (markersArray.length > 0) {
                markersArray[0].setMap(null);
            };
            markersArray.shift(marker)
            marker = new google.maps.Marker({
                position: latLng,
                map: map
            });
            markersArray.push(marker);
        }
    }
</script>