<include file="Public/header" />
<div class="pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>登录账号：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" value="<{$user.user_number}>" placeholder="请输入登录账号" id="user-name" name="user_number" datatype="*2-30" ajaxurl="<{:U('User/ajax_checkUserName',array('userid'=>$user['id']))}>" nullmsg="登录账号不能为空">
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-5">
				<input type="password" id="password" name="password" placeholder="请输入新密码" autocomplete="off" value="" class="input-text"  datatype="*0-20" nullmsg="密码不能为空">
			</div>
			<div class="col-4">
			<span class="Validform_checktip">不输入密码则不修改密码 </span>
			
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-5">
				<input type="password" placeholder="确认新密码" autocomplete="off" class="input-text Validform_error" errormsg="密码不能为空！" datatype="*0-20" recheck="password" nullmsg="请再输入一次新密码！" id="password2" name="password2">
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>角色：</label>
			<div class="formControls col-5"> 
				<select class="select" name="role_id">
					<volist name="role_list" id="item" >
					<if condition="$key gt 1">
					<option value="<{$key}>" <if condition="$user['role_id'] eq $key">selected="selected"</if>><{$item}></option>
					</if>
					</volist>
				</select>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red"></span>姓名：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" value="<{$user.user_manager}>" placeholder="请输入姓名" name="user_manager">
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">手机号：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" value="<{$user.user_cellphone}>" placeholder="请输入手机号" name="user_cellphone" >
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input type="hidden" name="userid" value="<{$user.id}>" />
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>

<script type="text/javascript" src="__LIB__/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__LIB__/layer/1.9.3/layer.js"></script> 
<script type="text/javascript">
$(function(){
	
	$("#form-admin-add").Validform({
		tiptype:2,
		ajaxPost:true,
		datatype:{
			"myPwd":function(gets,obj,curform,regxp){
				var objName,reg=/^[\w]{4,16}$/;
				if(gets.length > 0){
					objName = obj.attr('name');
					var repVal = '';
					if(objName == 'password')
						repVal = $("#password2").val();
					else
						repVal = $("#password").val();
					
					var str = gets+"="+repVal;
					alert(str);
					if(gets != repVal && repVal.length > 0)
						return '两次输入的密码不一致1!';
					
					//if(!reg.test(gets)){return '请输入4-16个字符由字母数字或下划线组合';}
					//if(!reg.test(repVal)){return '请输入4-16个字符由字母数字或下划线组合';}
				}
				
				return true;
			}
		},
		callback:function(data){
			if(data.status == 'y'){
				setTimeout(function(){
					parent.window.location = '<{:U("User/index")}>';	
				},1000);
			}else{
				layer.msg(data.info,{icon:2,time:1000});
			}
			return false;
		}
	});
});
</script>
</body>
</html>