<include file="Public/header" />
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 查看登录日志 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="pd-20">
	<form method="get" action="">
	<div class="text-c"> 
		<select name="uid" class="select-box" style="width:200px">
		<option value="0">请选择登录账号</option>
		<volist name="user_mapping" id="item">
			<option value="<{$key}>" <?php echo isset($_GET['uid']) && $_GET['uid'] == $key ? 'selected="selected"' : '' ?>><{$item}></option>
		</volist>
		</select>
		<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" name="datemin" placeholder="开始时间" class="input-text Wdate" style="width:150px;" value="<?php echo isset($_GET['datemin']) ? $_GET['datemin'] : '' ?>">
		-
		<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" name="datemax" placeholder="结束时间" class="input-text Wdate" style="width:150px;" value="<?php echo isset($_GET['datemax']) ? $_GET['datemax'] : '' ?>">
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	</div>
	 </form>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
	 <span class="l"></span> 
	 <span class="r">共有数据：<strong><{$total}></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg table-hover">
		<thead>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="150">登录账号</th>
				<th width="150">登录时间</th>
				<th width="150">登录IP地址</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="item">
			<tr class="text-c">
				<td><{$item.id}></td>
				<td><{$user_mapping[$item['login_uid']]}></td>
				<td><{$item.login_time}></td>
				<td><{$item.login_ip}></td>
			</tr>
			</volist>
			
			
		</tbody>
	</table>
	
	 <div id="pageNav" class="pageNav"><{$page}></div>
	
</div>

<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__LIB__/layer/1.9.3/layer.js"></script> 
<script type="text/javascript">
function showBig(obj){
	layer.open({
		type: 1,
		skin: 'layui-layer-rim',
		shadeClose: true,
		area: ['600px', '400px'], 
		content: '<div style="text-align: center;"><img src="'+obj.src+'" style="margin-top:10px"></div>'}
	);
}
</script>
</body>
</html>