<include file="Public/header" />
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 查看角色列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="pd-20">
	<form method="get" action="">
	<div class="text-c"> 
	</div>
	 </form>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
	 <span class="l"></span> 
	 <span class="r">共有数据：<strong><{$total}></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg table-hover">
		<thead>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="150">角色名称</th>
				<th width="150">角色描述</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="item">
			<tr class="text-c">
				<td><{$item.id}></td>
				<td><{$item.role_name}></td>
				<td><{$item.role_comment}></td>
			</tr>
			</volist>
			
			
		</tbody>
	</table>
	
	 <div id="pageNav" class="pageNav"><{$page}></div>
	
</div>

<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__LIB__/layer/1.9.3/layer.js"></script> 
<script type="text/javascript">
function showBig(obj){
	layer.open({
		type: 1,
		skin: 'layui-layer-rim',
		shadeClose: true,
		area: ['600px', '400px'], 
		content: '<div style="text-align: center;"><img src="'+obj.src+'" style="margin-top:10px"></div>'}
	);
}
</script>
</body>
</html>