<include file="Public/header" />
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 数据管理 <span class="c-gray en">&gt;</span> 手机区号列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="pd-20">
	<form method="get" action="">
	<div class="text-c"> 
		<input type="text" class="input-text" style="width:160px" placeholder="国家名称" name="country" value="<?php echo $_GET['country'] ?>">
		<input type="text" class="input-text" style="width:160px" placeholder="区号" name="mobile_prefix" value="<?php echo $_GET['mobile_prefix'] ?>">
		
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	</div>
	 </form>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
	 <span class="l">
</span>
	 <span class="r">共有数据：<strong><{$total}></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg table-hover">
		<thead>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="100">国家名称</th>
				<th width="100">区号</th>
				<th width="100">所在洲</th>
				<th width="80">是否启用</th>
				<th width="80">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="item">
			<tr class="text-c">
				<td><{$item.id}></td>
				<td><{$item.country}></td>
				<td>+<{$item.mobile_prefix}></td>
				<td><{$item.area}></td>
				<td>
					<if condition="$item['is_valid'] eq '0'">
						<span class="label label-default radius">停用</span>
					<else />
						<span class="label label-success radius">启用</span>
					</if>
				</td>
				<td class="td-manage">
					 <if condition="$item['is_valid'] eq 1">
						<a style="text-decoration:none" onClick="admin_valid(this,'<{$item.id}>')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
					<else/>
						<a style="text-decoration:none" onClick="admin_valid(this,'<{$item.id}>')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a>
					</if>
				</td>
			</tr>
			</volist>
			
			
		</tbody>
	</table>
	
	 <div id="pageNav" class="pageNav"><{$page}></div>
	
</div>

<script type="text/javascript" src="__LIB__/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__JS__/H-ui.js"></script> 
<script type="text/javascript" src="__JS__/H-ui.admin.js"></script> 
<script type="text/javascript">

/*管理员-停用*/
function admin_valid(obj,id){
	var valid = 0;
	var tip = '确认要停用吗？';
	if ($(obj).attr('title') == '启用'){
		valid = 1;
		tip = '确认要启用吗？';
	}
	layer.confirm(tip, function(index){
		$.ajax({
			url:'<{:U("MobilePrefix/ajax_changeValid")}>',
			type:'post',
			dataType:'json',
			data:{'id':id,'valid':valid},
			success:function(data){
				if(data.status == 'y'){
					layer.msg('操作成功!',{icon: 6,time:1000},function(){
						window.location.reload();
					});
				}else{
					layer.msg(data.info,{icon: 5,time:1000});
				}
			},
			error:function(error){
				
			}
		});		
	});
}
</script>
</body>
</html>