<include file="Public/header" />
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员信息管理 <span class="c-gray en">&gt;</span> 会员信息列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="pd-20">
	<form method="get" action="">
	<div class="text-c"> 
		<input type="text" class="input-text" style="width:160px" placeholder="手机号（不带区号）" name="mobile" value="<?php echo $_GET['mobile'] ?>">
		<input type="text" class="input-text" style="width:160px" placeholder="昵称" name="nick_name" value="<?php echo $_GET['nick_name'] ?>">
		<input type="text" id="minDate" name="minDate" class="input-text Wdate" style="width:120px" placeholder="注册起始时间" value="<?php echo isset($_GET['minDate']) ? $_GET['minDate'] : '' ?>" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'maxDate\')}'})"/> - 
		<input type="text" id="maxDate" name="maxDate" class="input-text Wdate" style="width:120px" placeholder="注册结束时间" value="<?php echo isset($_GET['maxDate']) ? $_GET['maxDate'] : '' ?>" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'minDate\')}'})"/>
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	</div>
	 </form>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
	 <span class="l">
</span>
	 <span class="r">共有数据：<strong><{$total}></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg table-hover">
		<thead>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="100">登录账号</th>
				<th width="100">昵称</th>
				<th width="100">头像</th>
				<th width="80">真实姓名</th>
				<th width="80">手机号</th>
				<th width="60">性别</th>
				<th width="100">生日</th>
				<!-- 
				<th width="80">国家</th>
				<th width="80">省</th>
				<th width="80">市</th>
				<th width="80">县</th>
				 -->
				<th width="120">身份证号</th>
				<th width="120">个性签名</th>
				<th width="80">注册时间</th>
				<th width="80">注册方式</th>
				<th width="80">状态</th>
				<th width="80">粉丝数</th>
				<th width="80">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="item">
			<tr class="text-c">
				<td><{$item.id}></td>
				<td><{$item.mem_login_id|get_member_loginname}></td>
				<td><{$item.nick_name}></td>
				<td><img src="<{$item.headpic}>" width="60" /></td>
				<td><{$item.real_name}></td>
				<td>+<{$item.mobile_prefix}> <{$item.mobile}></td>
				<td><{$sex_list[$item['sex']]}></td>
				<td><{$item.birthday}></td>
				<!-- 
				<td><{$item.country_id}></td>
				<td><{$item.province_id}></td>
				<td><{$item.city_id}></td>
				<td><{$item.county_id}></td>
				 -->
				<td><{$item.cardid}></td>
				<td><{$item.signature}></td>
				<td><{$item.add_time|sub_date}></td>
				<td><{$item.id|get_member_logintype}></td>
				<td>
					<if condition="$item['is_valid'] eq '0'">
						<span class="label label-default radius">停用</span>
					<else />
						<span class="label label-success radius">启用</span>
					</if>
				</td>
				<td><{$item.fans_count}></td>
				<td class="td-manage">
					 <if condition="$item['is_valid'] eq 1">
						<a style="text-decoration:none" onClick="admin_valid(this,'<{$item.id}>')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
					<else/>
						<a style="text-decoration:none" onClick="admin_valid(this,'<{$item.id}>')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a>
					</if>
					<a title="编辑个性签名" href="javascript:;" onclick="admin_edit('编辑个性签名','<{$item.id}>','800','250')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
				</td>
			</tr>
			</volist>
			
			
		</tbody>
	</table>
	
	 <div id="pageNav" class="pageNav"><{$page}></div>
	
</div>

<script type="text/javascript" src="__LIB__/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__JS__/H-ui.js"></script> 
<script type="text/javascript" src="__JS__/H-ui.admin.js"></script> 
<script type="text/javascript">
/*管理员-编辑*/
function admin_edit(title,id,w,h){
	var url = '<{:U("Member/signature")}>?id='+id;
	layer_show(title,url,w,h);
}
/*管理员-停用*/
function admin_valid(obj,id){
	var valid = 0;
	var tip = '确认要停用吗？';
	if ($(obj).attr('title') == '启用'){
		valid = 1;
		tip = '确认要启用吗？';
	}
	layer.confirm(tip, function(index){
		$.ajax({
			url:'<{:U("Member/ajax_changeValid")}>',
			type:'post',
			dataType:'json',
			data:{'id':id,'valid':valid},
			success:function(data){
				if(data.status == 'y'){
					layer.msg('操作成功!',{icon: 6,time:1000},function(){
						window.location.reload();
					});
				}else{
					layer.msg(data.info,{icon: 5,time:1000});
				}
			},
			error:function(error){
				
			}
		});		
	});
}
</script>
</body>
</html>